html,
body {
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
	/*background: #333;
	color: #555;*/
  background-color:#00AAAA;
	font-family: 'Didact Gothic', sans-serif;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

nav {
  background-color: #FFF;
  margin-bottom: 25px;
}


/*Loading*/

.progress-bar.animate {
   width: 100%;
}

.modal-dialog {
  margin-top: 20%;
}

/*Home view styling:*/

#welcome {
  margin-top: 10%;
  padding: 1.5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
  border-radius: 5px;
  width: 70%;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#appName {
  font-family: 'Seymour One', sans-serif;
  font-size: 4em;
  text-align: center;
}

#welcome p {
  display: block;
  font-size: 2em;
  text-align: center;
}

#canvas {
  position:fixed; 
  top:0;
  left:0;
  z-index: -1;
}

.container,  {
  z-index: 1;
}

#enter {
    z-index: 5;
    /*width: 200px;*/
    left: 50%;
    margin: 0 auto;
    font-family: 'Seymour One', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    animation: enter_slide 2.25s ease-out forwards;
    -webkit-animation: enter_slide 2.25s ease-out forwards;
    text-align: center;
    background: url(http://chrome-jam-static.commondatastorage.googleapis.com/img/interface/jam_button.png) no-repeat;

    display: block;
    width: 199px;
    height: 109px;
    background: url(http://chrome-jam-static.commondatastorage.googleapis.com/img/interface/jam_button.png) no-repeat;
    line-height: 115px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

/*Navbar styling:*/

.navbar-brand {
  font-family: 'Seymour One', sans-serif;
  color: #000;
}

.navbar-brand:hover {
  color: #00AAAA;
}

.nav-tabs li {
  font-size: 1.2em;
}

.nav-tabs li a img {
  width: 40px;
  height: 40px;
}





/*Keyboard styling:*/

#keyboard {
  margin: 0 auto !important;
}

/*Adjust black key positions*/
li[id='F#4'] {
  left: 715px !important;
}

li[id='D#4'] {
  left: 603px !important;
}

li[id='C#4'] {
  left: 546px !important;
}

li[id='A#3'] {
  left: 435px !important;
}

li[id='G#3'] {
  left: 378px !important;
}

li[id='F#3'] {
  left: 323px !important;
}

.page-wrapper {
	width: 100%;
	/*margin: 3rem auto;*/
	padding: 1.5rem;
	background: #FFF;
  border-radius: 5px;
	margin-bottom: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);

}

#keyboard ul li[data-note-type="white"] {
  background-color: rgb(255,255,240);
  -webkit-box-shadow: inset 1px -1px 28px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 1px -1px 28px -8px rgba(0,0,0,0.75);
  box-shadow: inset 1px -1px 28px -8px rgba(0,0,0,0.75);
}

#keyboard ul li[data-note-type="black"] {
  background-color: rgb(255,255,255);
}

#table-title {
  display: block;
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px;
}


#table-title:hover {
    cursor: pointer;
    color: #00AAAA;
}

.choose-wave p {
  display: block;
  text-align: center;
}

div p, th p {
  font-size: 1.2em;
}

.btn-group label{
  width: 50%;
  background-color: #00AAAA;
  color: #FFF;
}
.btn-group .btn.active, .btn-group .btn:active {
  background-color: #00CCAA;
}

.btn-group {
  margin-bottom: 10px;
  width: 100%;
}



/*Drum Machine Styling*/

.drum-pad-wrapper {
  margin-left: 10%;
  margin-right: 10%;
  /*margin: 3rem auto;*/
  padding: 1.5rem;
  background: #FFF;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

#sp {
  margin-left: 15%; 
}

#sp div {
    width: 170px;
    height: 170px;
    background-color: #d3d3d3;
    display: inline-block;
    -webkit-box-shadow: inset 19px -10px 93px 33px rgba(0,0,0,0.75);
-moz-box-shadow: inset 19px -10px 93px 33px rgba(0,0,0,0.75);
box-shadow: inset 19px -10px 93px 33px rgba(0,0,0,0.75);
    border-radius: 5px;
    margin-bottom: 5px;
    
}

#sp > input {
    display: inline-block;
    width: 200px;
}

.text {
font: normal 6em/1.1 'Fjalla One', Arial, sans-serif;
  color: #5f5e61;
  /*margin: 0 auto;*/
  text-transform: uppercase;
  /*border: .125em solid #5f5e61;*/
  display: inline-block;
  /*border-radius: .2em;*/
  padding: 0.5em 0.7em;
  -webkit-mask-image: url(http://f.cl.ly/items/131E0X1b1i0X1s263R00/a.png);
  /*-webkit-transform: rotate(-3deg);*/

  -moz-mask-image: url(http://f.cl.ly/items/131E0X1b1i0X1s263R00/a.png);
  /*-moz-transform: rotate(-3deg);*/

  -o-mask-image: url(http://f.cl.ly/items/131E0X1b1i0X1s263R00/a.png);
  /*-o-transform: rotate(-3deg);*/

  mask-image: url(http://f.cl.ly/items/131E0X1b1i0X1s263R00/a.png);
  /*transform: rotate(-3deg);*/
}


/* Controls */

i.fa {
  padding: 5px 10px;
  /*border: 2px solid rgba(0,0,0,0.7);*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100px;
    display: inline-block;

  font-size: 30px;
      -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

i.fa:hover{
    border-color: transparent;
    border-radius: 5px;
    color: rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

i.fa:active,i.fa:focus{
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5.play_button:hoverpx 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

i.fa-toggle-on, i.fa-toggle-on:hover, i.fa-toggle-on:active, i.fa-toggle-on:focus {
  border:none;
  box-shadow: none;
 
}

.controls p:nth-of-type(2) {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 2px solid black;
}

.fa-fw {
  width: 3em;
  margin-top: 20px;
}

.controls {
  line-height: 100%;
}

i.active { color: #5cb85c}
i.inactive {color: #d9534f}

.navbar-fixed-bottom {
  padding: 10px;
}




/*DJ Styling*/

.dj-wrapper {

  margin: 3rem 5%;
  padding: 1.5rem;
  background: #FFF;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

.dj-wrapper h1 {
  text-align: center;
}

.thumbnail {
  width: 80%;
  height: 300px;
  padding: 0px;
  overflow: hidden;
  border-radius: 5px;
}

.caption {
  text-align: center;
  color: #FFF;
  line-height: 200%;
}

.caption * {
  color: #FFF;
}

#song-controls {
  text-align: center;
}

#song-controls i:hover {
  color: #00AAAA;
}

.thumbnail {
  background: url(img/Adventure-Club.jpg);
  max-width: 300px;
  overflow: hidden;
  /*z-index: -1;*/
}

canvas p {
  color: white;
}




#filter, #delay {
    float: left;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    /*border: 2px solid black;*/
    /*background: #1E1E1E url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQYV2P8+vWrJAMRgBGkkJub+zkhtaMK8YYQ0cEDABxGJwNr5yClAAAAAElFTkSuQmCC);*/
    margin: 5px;
    /*margin-left: 10%;*/
}

#filter canvas, #delay canvas {
  border-radius: 5px;
}

#filter:hover, #delay:hover {
    cursor: crosshair;
}

#filter:active, #delay:active {
    cursor: pointer;
}

#info {
    clear: both;
    /*margin-left: 20%;*/
    padding-left: 2rem;
    padding-top: 1rem;
    -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1 {
    font-weight: normal;
}

.num {
  font-size: 1.2em;
}


/*Playback rate slider*/

.progress-box {
    width: 100%;
    margin: 10px 0;
}

.progress-box .percentage-cur .num {
  margin-right: 5px;
}

.progress-box .progress-bar {
  margin-top: 5px;
  width: 100%;
  height: 12px;
  background: #f2f1f1;
  margin-bottom: 3px;
  border: 1px solid #dfdfdf;
  box-shadow: 0 0 2px #D5D4D4 inset;
  position: relative;
}

.progress-box .progress-bar .inner {
  position: relative;
    width: 0;
    height:100%;
    background: #239bd6; 
}

.progress-bar .inner {
    height: 0;
    width: 0;
    transition: all 1s ease-out;
}

.progress-bar-slider .inner {
  transition: none;
}

.progress-bar-slider .inner:after {
  content: " ";
  width: 5px;
  height: 14px;;
  background-color:#ccc;
  position: absolute;
  right: -2px;
  top: -2px;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
  margin: 0px;
}

.progress-slider {
  opacity: 0;
  width: 100%;
  height: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 1;
}





