<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          sYnthesYs
        </a>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/home" ng-click="closeAudio()">Home</a></li>
        <li role="presentation"><a href="#/custom">Load Your Own</a></li>
        <!-- <li role="presentation"><a href="#">Messages</a></li> -->
      </ul>
    </div>
</nav>

<div class="page-wrapper">
    <section id="sp">
      <div id="pad1" data-sound="kick.wav"></div>
      <div id="pad2" data-sound="snare.wav"></div>
      <div id="pad3" data-sound="tin.wav"></div>
      <div id="pad4" data-sound="hat.wav"></div>
    </section>
    <!-- <section>
        <input class="input-id" type="file" class="file" data-preview-file-type="text">
        <input class="input-id" type="file" class="file" data-preview-file-type="text">
        <input class="input-id" type="file" class="file" data-preview-file-type="text">
        <input class="input-id" type="file" class="file" data-preview-file-type="text">
    </section> -->
</div>