<nav>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/home">
          sYnthesYs
        </a>
      </div>
      <ul class="nav nav-tabs pull-right">
        <li role="presentation"><a href="#/keyboard"><img src="img/keyboard-icon.jpg"></a></li>
        <li role="presentation" class="active"><a href="#/custom" ng-click="closeAudio()"><img src="img/drumsticks-icon.png"></a></li>
        <li role="presentation"><a href="#/dj"><img src="img/DJ-icon.png"></a></li>
      </ul>
    </div>
</nav>

<div class="drum-pad-wrapper">
    
    <section id="sp">
      <div id="pad1"><p class="text">D</p></div>
      <div id="pad2"><p class="text">F</p></div>
      <div id="pad3"><p class="text">J</p></div>
      <div id="pad4"><p class="text">K</p></div>
      <div id="pad5"><p class="text">X</p></div>
      <div id="pad6"><p class="text">C</p></div>
      <div id="pad7"><p class="text">N</p></div>
      <div id="pad8"><p class="text">M</p></div>
    </section>
    
</div>

<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="row">
      <div class='col-md-2'></div>
      <div class='col-md-4 controls text-center'>
        <i class="fa fa-play" ng-click="playMetronome($event)" ng-disabled="isDisabled"></i>
        <i class="fa fa-pause"ng-click="pauseMetronome($event)"></i>
        <label>Metronome Controls</label>
      </div>
      <div class='col-md-4 controls text-center'>
        <i class="fa fa-toggle-on active"
         ng-if="status == true" 
         ng-click="changeStatus();">
        </i>
        <i class="fa fa-toggle-on fa-rotate-180 inactive"
           ng-if="status == false"
           ng-click="changeStatus();">
        </i>
        <i class="fa fa-stop" ng-click="reset()"></i>
        <label>Loop Controls</label>
      </div>
      <div class='col-md-2'></div>
    </div>
  </div>
</div>









