<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          sYnthesYs
        </a>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/home" ng-click="closeAudio()">Home</a></li>
        <li role="presentation"><a href="#/custom">Drum Machine</a></li>
        <li role="presentation"><a href="#/dj">DJ</a></li>
      </ul>
    </div>
</nav>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
          <ul class="draggable-objects">
              <li ng-repeat="obj in buffersObject.slots" class="draggable">{{obj.name}}
              </li>
          </ul>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
          <section>
              <button ng-click="playMetronome()">Play Metronome</button>
              <button ng-click="pauseMetronome()">Pause Metronome</button>
          </section>
          
        </div>
    </div>
</div>

<div class="page-wrapper">
    <section id="sp">
      <div id="pad1"></div>
      <div id="pad2"></div>
      <div id="pad3"></div>
      <div id="pad4"></div>
      <div id="pad5"></div>
      <div id="pad6"></div>
      <div id="pad7"></div>
      <div id="pad8"></div>
    </section>
    
</div>









